<div class="jumbotron">
  <h1>Choose your Sentinel</h1>
  <div class="list-group">
    <% sentinels.each do |sentinel| %>
        <a href="<%= Web.routes.url(:sentinel_pictures_days, sentinel_name: sentinel) %>" class="list-group-item"><%= sentinel %></a>
    <% end %>
  </div>
</div>