<div class="jumbotron">
  <h1>Choose your Sentinel</h1>
  <p>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="Sentinel">Name</label>
      <select class="form-control">
        <option>serg</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">View Sentinel</button>
  </form>
  </p>
</div>