<div class="jumbotron">
  <h1>Pictures for Sentinel <%= sentinel %> Day <%= day %></h1>
  <% pictures.each do |picture| %>
      <img src="<%= "#{common_url}/#{picture.key}" %>" title="<%= picture.key %>" class="img-thumbnail">
  <% end %>
  </div>
</div>